.btn {
    position: absolute;
    left: 23.5%;
    top: 34.3%;
    background-color: #48A500;
    color: hsl(0, 0%, 100%);
    border-radius: 30px;
    width: 290px;
    height: 50px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}